﻿<h3>
    Google Maps
    <br>
    <small>Easy usage directly from data attribute</small>
</h3>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Classic Map</div>
            <div class="panel-body">
                <div data-toggle="gmap" data-address="Little Lonsdale St, Melbourne, Victoria 8011 Australia" class="gmap"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Custom zoom</div>
            <div class="panel-body">
                <div data-toggle="gmap" data-address="Little Lonsdale St, Melbourne, Victoria 8011 Australia" data-zoom="19" class="gmap"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Different Map Type</div>
            <div class="panel-body">
                <div data-toggle="gmap" data-address="Little Lonsdale St, Melbourne, Victoria 8011 Australia" data-maptype="SATELLITE" class="gmap"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Multiple Addresses</div>
            <div class="panel-body">
                <div data-toggle="gmap" data-address="Little Lonsdale St, Melbourne, Victoria 8011 Australia; 2 Elizabeth St, Melbourne, Victoria 3000 Australia" data-title="Location 1; Location 2" class="gmap"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Styled Maps</div>
            <div class="panel-body">
                <div data-toggle="gmap" data-address="Little Lonsdale St, Melbourne, Victoria 8011 Australia" data-maptype="ROADMAP" data-styled class="gmap"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Map in modal</div>
            <div class="panel-body">
                <!-- Button trigger modal -->
                <button data-toggle="modal" data-target="#myMapModal" class="btn btn-primary btn-lg">Launch Map Modal</button>
            </div>
        </div>
    </div>
</div>

<!-- START modal-->
<div id="myMapModal" tabindex="-1" role="dialog" aria-labelledby="myMapModalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                <h4 id="myMapModalLabel" class="modal-title">Google Map Modal</h4>
            </div>
            <div class="modal-body">
                <div data-toggle="gmap" data-address="Little Lonsdale St, Melbourne, Victoria 8011 Australia" data-maptype="ROADMAP" data-styled class="gmap"></div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    @Scripts.Render("~/bundles/mapscripts")
    @Scripts.Render("~/bundles/classyloader")
}
