﻿
<h3>
    Vector Maps
    <br>
    <small>Resolution independent maps</small>
</h3>
<div id="vectormap" data-toggle="vector-map" style="height: 700px;"></div>

@section scripts
{
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    @Scripts.Render("~/bundles/mapscripts")
    @Scripts.Render("~/bundles/classyloader")
    @Scripts.Render("~/bundles/vectormap")
}
