﻿@using MvcSkeleton.Resources
@model MVCSkeleton.Web.Areas.Admin.Models.UserViewModel

<h2>@Resource.Users</h2>

<hr/>

@using (Html.BeginForm("Index", "Users", FormMethod.Get, new {role = "form", @class= "form-horizontal" }))
{
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="text-muted col-sm-4">@Resource.SearchString</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Search, new { @class = "form-control", placeholder = Resource.EnterUserName })
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="text-muted col-sm-6">@Resource.EmailConfirmed</label>
                <div class="col-sm-6">
                    @Html.CheckBoxFor(m => m.EmailConfirmed, new {})
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="text-muted col-sm-6">@Resource.UserConfirmed</label>
                <div class="col-sm-6">
                    @Html.CheckBoxFor(m => m.UserConfirmed, new {})
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="submit" value="@Resource.Search" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<hr/>

<table class="table">
    <thead>
        <tr>
            <th>@Resource.Email</th>
            <th>@Resource.EmailConfirmed</th>
            <th>@Resource.UserConfirmed</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.EmailConfirmed</td>
                <td>@user.UserConfirmed</td>
                <td>
                    @if (!user.UserConfirmed)
                    {
                        <a href="@Url.Action("UserConfirm", new {userId = user.Id})" class="btn btn-green">@Resource.Confirm</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

