﻿@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="row row-table page-wrapper">
    <div class="col-lg-3 col-md-6 col-sm-8 col-xs-12 align-middle">
        <!-- START panel-->
        <div data-toggle="play-animation" data-play="fadeIn" data-offset="0" class="panel panel-dark panel-flat">
            <div class="panel-heading text-center mb-lg">
                <a href="#">
                    <img src="../../assets/app/img/logo.png" alt="Image" class="block-center img-rounded">
                </a>
            </div>
            <div class="panel-body">
                <h5 class="text-center">@Resource.EmailConfirmationSuccessMessage</h5>
                <br/>
                <div class="text-center">
                    <a href="@Url.Action("Login")">Goto Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
