﻿@using MVCSkeleton.Web.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="row row-table page-wrapper">
    <div class="col-lg-3 col-md-6 col-sm-8 col-xs-12 align-middle">
        <!-- START panel-->
        <div data-toggle="play-animation" data-play="fadeIn" data-offset="0" class="panel panel-dark panel-flat">
            <div class="panel-heading text-center">
                <a href="#">
                    <img src="../../assets/app/img/logo.png" alt="Image" class="block-center img-rounded">
                </a>
                <p class="text-center mt-lg">
                    <strong>@Resource.SignInMessage</strong>
                </p>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {role = "form"}))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group has-feedback">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Resource.Email })
                        <span class="fa fa-envelope form-control-feedback text-muted"></span>
                    </div>
                    <div class="form-group has-feedback">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Resource.Password})
                        <span class="fa fa-lock form-control-feedback text-muted"></span>
                    </div>
                    <div class="clearfix">
                        <div class="checkbox c-checkbox pull-left mt0">
                            <label>
                                @Html.CheckBoxFor(m => m.RememberMe)
                                <span class="fa fa-check"></span>@Resource.RememberMe
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-block btn-success">@Resource.Login</button>
                }
            </div>
        </div>
        <!-- END panel-->
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
