﻿@using reCAPTCHA.MVC
@model MVCSkeleton.Web.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="row row-table page-wrapper">
    <div class="col-lg-3 col-md-6 col-sm-8 col-xs-12 align-middle">
        <!-- START panel-->
        <div data-toggle="play-animation" data-play="fadeIn" data-offset="0" class="panel panel-dark panel-flat">
            <div class="panel-heading text-center mb-lg">
                <a href="#">
                    <img src="../../assets/app/img/logo.png" alt="Image" class="block-center img-rounded">
                </a>
                <p class="text-center mt-lg">
                    <strong>@Resource.SignUpMessage</strong>
                </p>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="form-group has-feedback">
                        @Html.LabelFor(m => m.Email, new { @class = "text-muted" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Resource.Email })
                        <span class="fa fa-envelope form-control-feedback text-muted"></span>
                    </div>
                    <div class="form-group has-feedback">
                        @Html.LabelFor(m => m.Password, new { @class = "text-muted" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Resource.Password })
                        <span class="fa fa-lock form-control-feedback text-muted"></span>
                    </div>
                    <div class="form-group has-feedback">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "text-muted" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Resource.ConfirmPassword })
                        <span class="fa fa-lock form-control-feedback text-muted"></span>
                    </div>

                    <div class="form-group has-feedback">
                        @Html.Recaptcha()
                    </div>

                    <button type="submit" class="btn btn-block btn-success">@Resource.Register</button>
                }
            </div>
        </div>
        <!-- END panel-->
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")

