﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <!-- START Main wrapper-->
    <div class="wrapper">
        <!-- START Top Navbar-->
        <nav role="navigation" class="navbar navbar-default navbar-top navbar-fixed-top">
            <!-- START navbar header-->
            <div class="navbar-header">
                <a href="dashboard.html" class="navbar-brand">
                    <div class="brand-logo">
                        <img src="/assets/app/img/logo.png" alt="App Logo" class="img-responsive">
                    </div>
                    <div class="brand-logo-collapsed">
                        <img src="/assets/app/img/logo-single.png" alt="App Logo" class="img-responsive">
                    </div>
                </a>
            </div>
            <!-- END navbar header-->
            <!-- START Nav wrapper-->
            <div class="nav-wrapper">
                <!-- START Left navbar-->
                <ul class="nav navbar-nav">
                    <li>
                        <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                        <a href="#" data-toggle-state="aside-collapsed" data-persists="true" class="hidden-xs">
                            <em class="fa fa-navicon"></em>
                        </a>
                        <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
                        <a href="#" data-toggle-state="aside-toggled" class="visible-xs">
                            <em class="fa fa-navicon"></em>
                        </a>
                    </li>
                    <!-- START Messages menu (dropdown-list)-->
                    <li class="dropdown dropdown-list">
                        <a href="#" data-toggle="dropdown" data-play="fadeIn" class="dropdown-toggle">
                            <em class="fa fa-envelope-o"></em>
                            <div class="label label-danger">21</div>
                        </a>
                        <!-- START Dropdown menu-->
                        <ul class="dropdown-menu">
                            <li class="dropdown-menu-header">You have 5 new messages</li>
                            <li>
                                <div class="scroll-viewport">
                                    <!-- START list group-->
                                    <div class="list-group scroll-content">
                                        <!-- START list group item-->
                                        <a href="#" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left">
                                                    <img src="/assets/app/img/user/01.jpg" alt="Image" class="media-object img-circle thumb48">
                                                </div>
                                                <div class="media-body clearfix">
                                                    <small class="pull-right">2h</small>
                                                    <strong class="media-heading text-primary">
                                                        <span class="point point-success point-md"></span>Rina Carter
                                                    </strong>
                                                    <p class="mb-sm">
                                                        <small>Curabitur sodales nisl eu enim suscipit eu faucibus dui mattis.</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- END list group item-->
                                        <!-- START list group item-->
                                        <a href="#" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left">
                                                    <img src="/assets/app/img/user/04.jpg" alt="Image" class="media-object img-circle thumb48">
                                                </div>
                                                <div class="media-body clearfix">
                                                    <small class="pull-right">3h</small>
                                                    <strong class="media-heading text-primary">
                                                        <span class="point point-success point-md"></span>Michael Reynolds
                                                    </strong>
                                                    <p class="mb-sm">
                                                        <small>Curabitur sodales nisl eu enim suscipit eu faucibus dui mattis.</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- END list group item-->
                                        <!-- START list group item-->
                                        <a href="#" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left">
                                                    <img src="/assets/app/img/user/03.jpg" alt="Image" class="media-object img-circle thumb48">
                                                </div>
                                                <div class="media-body clearfix">
                                                    <small class="pull-right">4h</small>
                                                    <strong class="media-heading text-primary">
                                                        <span class="point point-danger point-md"></span>Britanny Pierce
                                                    </strong>
                                                    <p class="mb-sm">
                                                        <small>Curabitur sodales nisl eu enim suscipit eu faucibus dui mattis.</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- END list group item-->
                                        <!-- START list group item-->
                                        <a href="#" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left">
                                                    <img src="/assets/app/img/user/05.jpg" alt="Image" class="media-object img-circle thumb48">
                                                </div>
                                                <div class="media-body clearfix">
                                                    <small class="pull-right">4h</small>
                                                    <strong class="media-heading text-primary">
                                                        <span class="point point-danger point-md"></span>Laura Cole
                                                    </strong>
                                                    <p class="mb-sm">
                                                        <small>Curabitur sodales nisl eu enim suscipit eu faucibus dui mattis.</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- END list group item-->
                                        <!-- START list group item-->
                                        <a href="#" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left">
                                                    <img src="/assets/app/img/user/06.jpg" alt="Image" class="media-object img-circle thumb48">
                                                </div>
                                                <div class="media-body clearfix">
                                                    <small class="pull-right">4h</small>
                                                    <strong class="media-heading text-primary">
                                                        <span class="point point-danger point-md"></span>Carolyn Pretty
                                                    </strong>
                                                    <p class="mb-sm">
                                                        <small>Curabitur sodales nisl eu enim suscipit eu faucibus dui mattis.</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- END list group item-->
                                    </div>
                                    <!-- END list group-->
                                </div>
                            </li>
                            <!-- START dropdown footer-->
                            <li class="p">
                                <a href="#" class="text-center">
                                    <small class="text-primary">READ ALL</small>
                                </a>
                            </li>
                            <!-- END dropdown footer-->
                        </ul>
                        <!-- END Dropdown menu-->
                    </li>
                    <!-- END Messages menu (dropdown-list)-->
                    <li>
                        <!-- Button to clear all site options stored option from browser storage-->
                        <a href="#" data-toggle="reset">
                            <em class="fa fa-refresh"></em>
                        </a>
                    </li>
                </ul>
                <!-- END Left navbar-->
                <!-- START Right Navbar-->
                <ul class="nav navbar-nav navbar-right">
                    <!-- Search icon-->
                    <li>
                        <a href="#" data-toggle="navbar-search">
                            <em class="fa fa-search"></em>
                        </a>
                    </li>
                    <!-- START Alert menu-->
                    <li class="dropdown dropdown-list">
                        <a href="#" data-toggle="dropdown" data-play="fadeIn" class="dropdown-toggle">
                            <em class="fa fa-bell-o"></em>
                            <div class="label label-info">35</div>
                        </a>
                        <!-- START Dropdown menu-->
                        <ul class="dropdown-menu">
                            <li>
                                <!-- START list group-->
                                <div class="list-group">
                                    <!-- list item-->
                                    <a href="#" class="list-group-item">
                                        <div class="media">
                                            <div class="pull-left">
                                                <em class="fa fa-envelope-o fa-2x text-success"></em>
                                            </div>
                                            <div class="media-body clearfix">
                                                <div class="media-heading">Unread messages</div>
                                                <p class="m0">
                                                    <small>You have 10 unread messages</small>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- list item-->
                                    <a href="#" class="list-group-item">
                                        <div class="media">
                                            <div class="pull-left">
                                                <em class="fa fa-cog fa-2x"></em>
                                            </div>
                                            <div class="media-body clearfix">
                                                <div class="media-heading">New settings</div>
                                                <p class="m0">
                                                    <small>There are new settings available</small>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- list item-->
                                    <a href="#" class="list-group-item">
                                        <div class="media">
                                            <div class="pull-left">
                                                <em class="fa fa-fire fa-2x"></em>
                                            </div>
                                            <div class="media-body clearfix">
                                                <div class="media-heading">Updates</div>
                                                <p class="m0">
                                                    <small>
                                                        There are
                                                        <span class="text-primary">2</span>new updates available
                                                    </small>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- last list item -->
                                    <a href="#" class="list-group-item">
                                        <small>Unread notifications</small>
                                        <span class="badge">14</span>
                                    </a>
                                </div>
                                <!-- END list group-->
                            </li>
                        </ul>
                        <!-- END Dropdown menu-->
                    </li>
                    <!-- END Alert menu-->
                    <!-- START User menu-->
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" data-play="fadeIn" class="dropdown-toggle">
                            <em class="fa fa-tencent-weibo"></em>
                        </a>
                        <!-- START Dropdown menu-->
                        <ul class="dropdown-menu">
                            <li>
                                <div class="p">
                                    <p>Overall progress</p>
                                    <div class="progress progress-striped progress-xs m0">
                                        <div role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-success progress-70">
                                            <span class="sr-only">70% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">Profile</a>
                            </li>
                            <li>
                                <a href="#">Settings</a>
                            </li>
                            <li>
                                <a href="#">
                                    Notifications
                                    <div class="label label-info pull-right">5</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Messages
                                    <div class="label label-danger pull-right">10</div>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("LogOff","Account", new {Area = string.Empty})">Logout</a>
                            </li>
                        </ul>
                        <!-- END Dropdown menu-->
                    </li>
                    <!-- END User menu-->
                    <!-- START Contacts button-->
                    <li>
                        <a href="#" data-toggle-state="offsidebar-open">
                            <em class="fa fa-comment-o"></em>
                        </a>
                    </li>
                    <!-- END Contacts menu-->
                </ul>
                <!-- END Right Navbar-->
            </div>
            <!-- END Nav wrapper-->
            <!-- START Search form-->
            <form role="search" class="navbar-form">
                <div class="form-group has-feedback">
                    <input type="text" placeholder="Type and hit Enter.." class="form-control">
                    <div data-toggle="navbar-search-dismiss" class="fa fa-times form-control-feedback"></div>
                </div>
                <button type="submit" class="hidden btn btn-default">Submit</button>
            </form>
            <!-- END Search form-->
        </nav>
        <!-- END Top Navbar-->

        @Html.Partial("_Navigation")

        @Html.Partial("_Aside")

        <!-- START Main section-->
        <section>
            <!-- START Page content-->
            <div class="main-content">
                @RenderBody()
            </div>
            <!-- END Page content-->
            <!-- START Page footer-->
            <footer>&copy; 2014 - MVC Skeleton</footer>
            <!-- END Page Footer-->
        </section>
        <!-- END Main section-->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/animo")
    @Scripts.Render("~/bundles/Classyloader")
    @Scripts.Render("~/bundles/StoreJson")
    @Scripts.Render("~/bundles/Flowchart")
    @Scripts.Render("~/bundles/Sparklines")
    @Scripts.Render("~/bundles/Slimscroll")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/app")


</body>
</html>
