﻿<!-- START aside-->
<aside class="aside">
    <!-- START Sidebar (left)-->
    <nav class="sidebar">
        <ul class="nav">
            <!-- START Menu-->
            <li class="nav-heading">Main</li>
            <li>
                <a href="" title="Dashboard" data-toggle="collapse-next" class="has-submenu">
                    <em class="fa fa-dot-circle-o"></em>
                    <div class="label label-primary pull-right">10</div>
                    <span class="item-text">Dashboard</span>
                </a>
                <!-- START SubMenu item-->
                <ul class="nav collapse">
                    <li>
                        <a href="@Url.Action("Dashboard","Home")" title="Default" data-toggle="" class="no-submenu">
                            <span class="item-text">Default</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Dashboard2","Home")" title="Two Sidebar" data-toggle="" class="no-submenu">
                            <span class="item-text">Two Sidebar</span>
                        </a>
                    </li>
                </ul>
                <!-- END SubMenu item-->
            </li>
            <li>
                <a href="#" title="Pages" data-toggle="collapse-next" class="has-submenu">
                    <em class="fa fa-file-text-o"></em>
                    <span class="item-text">Pages</span>
                </a>
                <!-- START SubMenu item-->
                <ul class="nav collapse ">
                    <li>
                        <a href="@Url.Action("Landing","Home")" title="Landing" data-toggle="" class="no-submenu">
                            <span class="item-text">Landing</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Login","Home")" title="Login" data-toggle="" class="no-submenu">
                            <span class="item-text">Login</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("LoginMulti","Home")" title="Login Multi" data-toggle="" class="no-submenu">
                            <span class="item-text">Login Multi</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("SignUp","Home")" title="Sign up" data-toggle="" class="no-submenu">
                            <span class="item-text">Sign up</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Lock","Home")" title="Lock" data-toggle="" class="no-submenu">
                            <span class="item-text">Lock</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("RecoveryPassword","Home")" title="Recover Password" data-toggle="" class="no-submenu">
                            <span class="item-text">Recover Password</span>
                        </a>
                    </li>
                </ul>
                <!-- END SubMenu item-->
            </li>
            <li class="nav-heading">More</li>
            <li>
                <a href="#" title="Maps" data-toggle="collapse-next" class="has-submenu">
                    <em class="fa fa-globe"></em>
                    <div class="label label-primary pull-right">new</div>
                    <span class="item-text">Maps</span>
                </a>
                <!-- START SubMenu item-->
                <ul class="nav collapse ">
                    <li>
                        <a href="@Url.Action("Google","Map")" title="Google Maps" data-toggle="" class="no-submenu">
                            <span class="item-text">Google Maps</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Vector","Map")" title="Vector Maps" data-toggle="" class="no-submenu">
                            <div class="label label-primary pull-right">new</div>
                            <span class="item-text">Vector Maps</span>
                        </a>
                    </li>
                </ul>
                <!-- END SubMenu item-->
            </li>
            <li>
                <a href="#" title="Charts" data-toggle="collapse-next" class="has-submenu">
                    <em class="fa fa-area-chart"></em>
                    <div class="label label-primary pull-right">new</div>
                    <span class="item-text">Charts</span>
                </a>
                <!-- START SubMenu item-->
                <ul class="nav collapse ">
                    <li>
                        <a href="@Url.Action("Charts","Chart")" title="Flot" data-toggle="" class="no-submenu">
                            <span class="item-text">Charts</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Radial","Chart")" title="Radial" data-toggle="" class="no-submenu">
                            <div class="label label-primary pull-right">new</div>
                            <span class="item-text">Radial</span>
                        </a>
                    </li>
                </ul>
                <!-- END SubMenu item-->
            </li>
            <li>
                <a href="#" title="Tables" data-toggle="collapse-next" class="has-submenu">
                    <em class="fa fa-table"></em>
                    <span class="item-text">Tables</span>
                </a>
                <!-- START SubMenu item-->
                <ul class="nav collapse ">
                    <li>
                        <a href="@Url.Action("DataTable","Table")" title="Data Table" data-toggle="" class="no-submenu">
                            <span class="item-text">Data Table</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Standard","Table")" title="Standard" data-toggle="" class="no-submenu">
                            <span class="item-text">Standard</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Extended","Table")" title="Extended" data-toggle="" class="no-submenu">
                            <span class="item-text">Extended</span>
                        </a>
                    </li>
                </ul>
                <!-- END SubMenu item-->
            </li>
            <li>
                <a href="#" title="Forms" data-toggle="collapse-next" class="has-submenu">
                    <em class="fa fa-edit"></em>
                    <span class="item-text">Forms</span>
                </a>
                <!-- START SubMenu item-->
                <ul class="nav collapse ">
                    <li>
                        <a href="@Url.Action("Standard","Form")" title="Standard" data-toggle="" class="no-submenu">
                            <span class="item-text">Standard</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Wizard","Form")" title="Wizard" data-toggle="" class="no-submenu">
                            <span class="item-text">Wizard</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Validation","Form")" title="Validation" data-toggle="" class="no-submenu">
                            <span class="item-text">Validation</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Extended","Form")" title="Extended" data-toggle="" class="no-submenu">
                            <span class="item-text">Extended</span>
                        </a>
                    </li>
                </ul>
                <!-- END SubMenu item-->
            </li>
            <li>
                <a href="#" title="Extras" data-toggle="collapse-next" class="has-submenu">
                    <em class="fa fa-plus"></em>
                    <div class="label label-primary pull-right">new</div>
                    <span class="item-text">Extras</span>
                </a>
                <!-- START SubMenu item-->
                <ul class="nav collapse ">
                    <li>
                        <a href="@Url.Action("Calender","Extra")" title="Calendar" data-toggle="" class="no-submenu">
                            <span class="item-text">Calendar</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Timeline","Extra")" title="Timeline" data-toggle="" class="no-submenu">
                            <span class="item-text">Timeline</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Search","Extra")" title="Search" data-toggle="" class="no-submenu">
                            <span class="item-text">Search</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Invoice","Extra")" title="Invoice" data-toggle="" class="no-submenu">
                            <span class="item-text">Invoice</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Mailbox","Extra")" title="Mailbox" data-toggle="" class="no-submenu">
                            <span class="item-text">Mailbox</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Filebox","Extra")" title="Filebox" data-toggle="" class="no-submenu">
                            <div class="label label-primary pull-right">new</div>
                            <span class="item-text">Filebox</span>
                        </a>
                    </li>
                </ul>
                <!-- END SubMenu item-->
            </li>
        </ul>
    </nav>
    <!-- END Sidebar (left)-->
</aside>
<!-- End aside-->