﻿<div class="row">
    <div class="col-lg-6">
        <!-- START panel-->
        <div class="panel panel-default">
            <div class="panel-heading">
                Demo Table #3
                <a href="#" data-perform="panel-dismiss" data-toggle="tooltip" title="Close Panel" class="pull-right">
                    <em class="fa fa-times"></em>
                </a>
                <a href="#" data-perform="panel-collapse" data-toggle="tooltip" title="Collapse Panel" class="pull-right">
                    <em class="fa fa-minus"></em>
                </a>
            </div>
            <!-- START table-responsive-->
            <div class="table-responsive">
                <table id="table-ext-3" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Task name</th>
                            <th>Progress</th>
                            <th>Deadline</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nunc luctus, quam non condimentum ornare</td>
                            <td>
                                <div class="progress progress-striped progress-xs">
                                    <div role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-success progress-80">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>05/05/2014</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-cog"></i></a>
                                    <ul class="dropdown-menu pull-right text-left">
                                        <li>
                                            <a href="#">Action</a>
                                        </li>
                                        <li>
                                            <a href="#">Another action</a>
                                        </li>
                                        <li>
                                            <a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Integer in convallis felis.</td>
                            <td>
                                <div class="progress progress-striped progress-xs">
                                    <div role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-danger progress-20">
                                        <span class="sr-only">20% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>15/05/2014</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-cog"></i></a>
                                    <ul class="dropdown-menu pull-right text-left">
                                        <li>
                                            <a href="#">Action</a>
                                        </li>
                                        <li>
                                            <a href="#">Another action</a>
                                        </li>
                                        <li>
                                            <a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Nullam sit amet magna vestibulum libero dapibus iaculis.</td>
                            <td>
                                <div class="progress progress-striped progress-xs">
                                    <div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-info progress-50">
                                        <span class="sr-only">50% Complete</span>
                                    </div>
                                </div>
                            </td>
                            <td>05/10/2014</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-cog"></i></a>
                                    <ul class="dropdown-menu pull-right text-left">
                                        <li>
                                            <a href="#">Action</a>
                                        </li>
                                        <li>
                                            <a href="#">Another action</a>
                                        </li>
                                        <li>
                                            <a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- END table-responsive-->
        </div>
        <!-- END panel-->
    </div>
    <div class="col-lg-6">
        <!-- START panel-->
        <div class="panel panel-default">
            <div class="panel-heading">
                Demo Table #4
                <a href="#" data-perform="panel-dismiss" data-toggle="tooltip" title="Close Panel" class="pull-right">
                    <em class="fa fa-times"></em>
                </a>
                <a href="#" data-perform="panel-collapse" data-toggle="tooltip" title="Collapse Panel" class="pull-right">
                    <em class="fa fa-minus"></em>
                </a>
            </div>
            <!-- START table-responsive-->
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>Activity</th>
                            <th>Completion</th>
                            <th>Take action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Bootstrap 5.x</td>
                            <td>
                                <span data-bar-color="danger" class="inlinesparkline">1,4,4,7,5,9,10</span>
                            </td>
                            <td>
                                <div class="label label-danger">Canceled</div>
                            </td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <a href="#" data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle">
                                        <em class="fa fa-angle-down"></em>Action
                                    </a>
                                    <ul class="dropdown-menu pull-right text-left">
                                        <li>
                                            <a href="#">Cancel</a>
                                        </li>
                                        <li>
                                            <a href="#">Delay</a>
                                        </li>
                                        <li>
                                            <a href="#">Re Plan </a>
                                        </li>
                                        <li>
                                            <a href="#">Invoke meeting</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Web Engine</td>
                            <td>
                                <span data-bar-color="success" class="inlinesparkline">1,4,4,10,5,9,2</span>
                            </td>
                            <td>
                                <div class="label label-success">Complete</div>
                            </td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <a href="#" data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle">
                                        <em class="fa fa-angle-down"></em>Action
                                    </a>
                                    <ul class="dropdown-menu pull-right text-left">
                                        <li>
                                            <a href="#">Cancel</a>
                                        </li>
                                        <li>
                                            <a href="#">Delay</a>
                                        </li>
                                        <li>
                                            <a href="#">Re Plan </a>
                                        </li>
                                        <li>
                                            <a href="#">Invoke meeting</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Nullam sit amet</td>
                            <td>
                                <span data-bar-color="warning" class="inlinesparkline">1,4,4,7,5,9,4</span>
                            </td>
                            <td>
                                <div class="label label-warning">Delayed</div>
                            </td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <a href="#" data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle">
                                        <em class="fa fa-angle-down"></em>Action
                                    </a>
                                    <ul class="dropdown-menu pull-right text-left">
                                        <li>
                                            <a href="#">Cancel</a>
                                        </li>
                                        <li>
                                            <a href="#">Delay</a>
                                        </li>
                                        <li>
                                            <a href="#">Re Plan </a>
                                        </li>
                                        <li>
                                            <a href="#">Invoke meeting</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- END table-responsive-->
        </div>
        <!-- END panel-->
    </div>
</div>
