﻿<div class="panel panel-default">
    <div class="panel-heading">
        Demo Table #2
        <a href="#" data-perform="panel-dismiss" data-toggle="tooltip" title="Close Panel" class="pull-right">
            <em class="fa fa-times"></em>
        </a>
        <a href="#" data-perform="panel-collapse" data-toggle="tooltip" title="Collapse Panel" class="pull-right">
            <em class="fa fa-minus"></em>
        </a>
    </div>
    <!-- START table-responsive-->
    <div class="table-responsive">
        <table id="table-ext-2" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="check-all">
                        <div data-toggle="tooltip" data-title="Check All" class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </th>
                    <th>Description</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="media">
                            <a href="#" class="pull-left">
                                <img src="/assets/app/img/user/01.jpg" alt="" class="media-object img-responsive img-circle">
                            </a>
                            <div class="media-body">
                                <div class="pull-right badge baed-info">admin</div>
                                <h4 class="media-heading">Holly Wallace</h4>
                                <p>Username: holly123</p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                                nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <label class="switch">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="media">
                            <a href="#" class="pull-left">
                                <img src="/assets/app/img/user/03.jpg" alt="" class="media-object img-responsive img-circle">
                            </a>
                            <div class="media-body">
                                <div class="pull-right badge baed-info">writer</div>
                                <h4 class="media-heading">Alexis Foster</h4>
                                <p>Username: ali89</p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                                vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="media">
                            <a href="#" class="pull-left">
                                <img src="/assets/app/img/user/05.jpg" alt="" class="media-object img-responsive img-circle">
                            </a>
                            <div class="media-body">
                                <div class="pull-right badge baed-info">editor</div>
                                <h4 class="media-heading">Mario Miles</h4>
                                <p>Username: mariomiles</p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc
                                ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span></span>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- END table-responsive-->
    <div class="panel-footer">
        <div class="row">
            <div class="col-lg-2">
                <div class="input-group pull-right">
                    <select class="input-sm form-control">
                        <option value="0">Bulk action</option>
                        <option value="1">Delete</option>
                        <option value="2">Clone</option>
                        <option value="3">Export</option>
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-sm btn-default">Apply</button>
                    </span>
                </div>
            </div>
            <div class="col-lg-8"></div>
            <div class="col-lg-2 text-right">
                <ul class="pagination pagination-sm">
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">»</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>