﻿<div class="panel panel-default">
    <div class="panel-heading">
        Demo Table #1
        <a href="#" data-perform="panel-dismiss" data-toggle="tooltip" title="Close Panel" class="pull-right">
            <em class="fa fa-times"></em>
        </a>
        <a href="#" data-perform="panel-collapse" data-toggle="tooltip" title="Collapse Panel" class="pull-right">
            <em class="fa fa-minus"></em>
        </a>
    </div>
    <!-- START table-responsive-->
    <div class="table-responsive">
        <table id="table-ext-1" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>UID</th>
                    <th>Picture</th>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Profile</th>
                    <th>Last Login</th>
                    <th class="check-all">
                        <div data-toggle="tooltip" data-title="Check All" class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <div class="media">
                            <img src="/assets/app/img/user/01.jpg" alt="Image" class="img-responsive img-circle">
                        </div>
                    </td>
                    <td>twitter</td>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>mailexample.com</td>
                    <td class="text-center">
                        <div data-label="25%" class="radial-bar radial-bar-25 radial-bar-xs"></div>
                    </td>
                    <td>1 week</td>
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <div class="media">
                            <img src="/assets/app/img/user/02.jpg" alt="Image" class="img-responsive img-circle">
                        </div>
                    </td>
                    <td>mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mailexample.com</td>
                    <td class="text-center">
                        <div data-label="50%" class="radial-bar radial-bar-50 radial-bar-xs"></div>
                    </td>
                    <td>25 minutes</td>
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        <div class="media">
                            <img src="/assets/app/img/user/03.jpg" alt="Image" class="img-responsive img-circle">
                        </div>
                    </td>
                    <td>fat</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>mailexample.com</td>
                    <td class="text-center">
                        <div data-label="80%" class="radial-bar radial-bar-80 radial-bar-xs"></div>
                    </td>
                    <td>10 hours</td>
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- END table-responsive-->
    <div class="panel-footer">
        <div class="row">
            <div class="col-lg-2">
                <div class="input-group">
                    <input type="text" placeholder="Search" class="input-sm form-control">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-default">Search</button>
                    </span>
                </div>
            </div>
            <div class="col-lg-8"></div>
            <div class="col-lg-2">
                <div class="input-group pull-right">
                    <select class="input-sm form-control">
                        <option value="0">Bulk action</option>
                        <option value="1">Delete</option>
                        <option value="2">Clone</option>
                        <option value="3">Export</option>
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-sm btn-default">Apply</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>