﻿<div class="row">
    <div class="col-sm-6">
        <!-- START panel-->
        <div class="panel panel-default">
            <div class="panel-heading">Stacked form</div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" placeholder="Enter email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" placeholder="Password" class="form-control">
                    </div>
                    <div class="checkbox c-checkbox">
                        <label>
                            <input type="checkbox" checked="">
                            <span class="fa fa-times"></span>Check me out
                        </label>
                    </div>
                    <button type="submit" class="btn btn-sm btn-default">Submit</button>
                </form>
            </div>
        </div>
        <!-- END panel-->
    </div>
    <div class="col-sm-6">
        <!-- START panel-->
        <div class="panel panel-default">
            <div class="panel-heading">Horizontal form</div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="email" placeholder="Email" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Password</label>
                        <div class="col-lg-10">
                            <input type="password" placeholder="Password" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <div class="checkbox c-checkbox">
                                <label>
                                    <input type="checkbox" checked="">
                                    <span class="fa fa-check"></span>Remember me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-sm btn-default">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END panel-->
    </div>
</div>
