﻿<div class="panel panel-default">
    <div class="panel-heading">Inline form</div>
    <div class="panel-body">
        <form role="form" class="form-inline">
            <div class="form-group">
                <label for="input-email" class="sr-only">Email address</label>
                <input id="input-email" type="email" placeholder="Type your email" class="form-control">
            </div>
            <div class="form-group">
                <label for="input-password" class="sr-only">Password</label>
                <input id="input-password" type="password" placeholder="Type your password" class="form-control">
            </div>
            <div class="checkbox c-checkbox">
                <label>
                    <input type="checkbox">
                    <span class="fa fa-check"></span>Remember
                </label>
            </div>
            <button type="submit" class="btn btn-default">Sign in</button>
        </form>
    </div>
</div>
