﻿<form method="post" action="#" data-parsley-validate="" novalidate="">
    <!-- START panel-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">Form Register</div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label">Email Address *</label>
                <input type="text" name="email" required class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label">Password *</label>
                <input id="id-password" type="password" name="password" required class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label">Confirm Password *</label>
                <input type="password" name="confirmPassword" required data-parsley-equalto="#id-password" class="form-control">
            </div>
            <div class="required">* Required fields</div>
        </div>
        <div class="panel-footer">
            <div class="clearfix">
                <div class="pull-left">
                    <div class="checkbox c-checkbox">
                        <label>
                            <input type="checkbox" name="agreements" required data-parsley-error-message="Please read and agree the terms">
                            <span class="fa fa-check"></span>I agree with the <a href="#">terms</a>
                        </label>
                    </div>
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END panel-->
</form>

