﻿<div class="panel panel-default">
    <div class="panel-heading">Form Wizard Vertical (no validation)</div>
    <div class="panel-body">
        <form action="/" method="POST">
            <div data-toggle="wizard" class="form-wizard wizard-vertical">
                <!-- START wizard steps indicator-->
                <ol>
                    <li>
                        <h4 class="mb0">Login</h4>
                    </li>
                    <li>
                        <h4 class="mb0">Personal Information</h4>
                    </li>
                    <li>
                        <h4 class="mb0">Contact Information</h4>
                    </li>
                    <li>
                        <h4 class="mb0">Done!</h4>
                    </li>
                </ol>
                <!-- END wizard steps indicator-->
                <!-- START Wizard Step inputs -->
                <div>
                    <fieldset>
                        <div class="form-group">
                            <label>Username</label>
                            <div class="controls">
                                <input type="text" name="username" placeholder="Your nick here" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <div class="controls">
                                <input type="password" name="password" placeholder="Your password" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Retype Password</label>
                            <div class="controls">
                                <input type="password" name="password2" placeholder="Confirmed password" class="form-control">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <!-- END Wizard Step inputs -->
                <!-- START Wizard Step inputs -->
                <div>
                    <fieldset>
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" name="first-name" placeholder="John" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" name="last-name" placeholder="Snow" class="form-control">
                        </div>
                    </fieldset>
                </div>
                <!-- END Wizard Step inputs -->
                <!-- START Wizard Step inputs -->
                <div>
                    <fieldset>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" name="email" placeholder="john@snow.com" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" name="phone" placeholder="11-2345-6789" class="form-control">
                        </div>
                    </fieldset>
                </div>
                <!-- END Wizard Step inputs -->
                <!-- START Wizard Step inputs -->
                <div>
                    <div class="jumbotron m0">
                        <h3 class="mt0">Done!</h3>
                        <p>In vulputate mattis ipsum vitae vehicula.</p>
                        <p class="m0">
                            <button type="button" class="btn btn-info">You can Proceed Now</button>
                        </p>
                    </div>
                </div>
                <!-- END Wizard Step inputs -->
            </div>
        </form>
    </div>
</div>

