﻿<div class="panel panel-default">
    <div class="panel-heading">Form Wizard Horizontal (with validation)</div>
    <div class="panel-body">
        <form action="/" method="POST" data-parsley-validate>
            <div data-toggle="wizard" data-validate-step="true" class="form-wizard wizard-horizontal">
                <!-- START wizard steps indicator-->
                <ol class="row">
                    <li class="col-lg-3">
                        <h4>Login</h4>
                        <small class="text-muted">Duis volutpat nunc at ligula tincidunt non aliquam.</small>
                    </li>
                    <li class="col-lg-3">
                        <h4>Personal Information</h4>
                        <small class="text-muted">Nulla pharetra imperdiet sapien ac faucibus.</small>
                    </li>
                    <li class="col-lg-3">
                        <h4>Contact Information</h4>
                        <small class="text-muted">Sed elementum lorem dolor, id fermentum metus.</small>
                    </li>
                    <li class="col-lg-3">
                        <h4>Done!</h4>
                        <small class="text-muted">Nullam sit amet magna vestibulum libero dapibus iaculis.</small>
                    </li>
                </ol>
                <!-- END wizard steps indicator-->
                <!-- START Wizard Step inputs -->
                <div>
                    <fieldset>
                        <legend>Login</legend>
                        <!-- START row -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Username</label>
                                    <div class="controls">
                                        <input type="text" name="username" data-parsley-group="step1" placeholder="Your nick here" required class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Password</label>
                                    <div class="controls">
                                        <input type="password" name="password" data-parsley-group="step1" placeholder="Your password" required class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Retype Password</label>
                                    <div class="controls">
                                        <input type="password" name="password2" data-parsley-group="step1" placeholder="Confirmed password" required class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END row -->
                    </fieldset>
                </div>
                <!-- END Wizard Step inputs -->
                <!-- START Wizard Step inputs -->
                <div>
                    <fieldset>
                        <legend>Personal Information</legend>
                        <!-- START row -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" name="first-name" data-parsley-group="step2" placeholder="John" required class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" name="last-name" data-parsley-group="step2" placeholder="Snow" required class="form-control">
                                </div>
                            </div>
                        </div>
                        <!-- END row -->
                    </fieldset>
                </div>
                <!-- END Wizard Step inputs -->
                <!-- START Wizard Step inputs -->
                <div>
                    <fieldset>
                        <legend>Contact Information</legend>
                        <!-- START row -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" name="email" data-parsley-group="step3" placeholder="john@snow.com" required class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="text" name="phone" data-parsley-group="step3" placeholder="11-2345-6789" required class="form-control">
                                </div>
                            </div>
                        </div>
                        <!-- END row -->
                    </fieldset>
                </div>
                <!-- END Wizard Step inputs -->
                <!-- START Wizard Step inputs -->
                <div>
                    <div class="jumbotron m0">
                        <h1>Done!</h1>
                        <p>In vulputate mattis ipsum vitae vehicula. Praesent at arcu non arcu convallis pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>
                            <button type="button" class="btn btn-info btn-lg">You can Proceed Now</button>
                        </p>
                    </div>
                </div>
                <!-- END Wizard Step inputs -->
            </div>
        </form>
    </div>
</div>

