﻿
<h3>
    Form Extended
    <br>
    <small>New elements to extend the classic functions</small>
</h3>
<!-- START panel-->
<div class="panel panel-default">
    <div class="panel-heading">Form elements</div>
    <div class="panel-body">
        <form method="get" class="form-horizontal">
            <fieldset>
                <legend>New Components</legend>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Slider
                        <br>
                        <small>Classic, range and vertical</small>
                    </label>
                    <div class="col-sm-4">
                        <input type="text" value="" data-slider-min="5" data-slider-max="35" data-slider-step="1" data-slider-value="5" data-slider-orientation="vertical" class="slider slider-vertical form-control">
                        <input type="text" value="" data-slider-min="5" data-slider-max="35" data-slider-step="1" data-slider-value="10" data-slider-orientation="vertical" class="slider slider-vertical form-control">
                        <input type="text" value="" data-slider-min="5" data-slider-max="35" data-slider-step="1" data-slider-value="15" data-slider-orientation="vertical" class="slider slider-vertical form-control">
                        <input type="text" value="" data-slider-min="5" data-slider-max="35" data-slider-step="1" data-slider-value="20" data-slider-orientation="vertical" class="slider slider-vertical form-control">
                        <input type="text" value="" data-slider-min="5" data-slider-max="35" data-slider-step="1" data-slider-value="25" data-slider-orientation="vertical" class="slider slider-vertical form-control">
                        <input type="text" value="" data-slider-min="5" data-slider-max="35" data-slider-step="1" data-slider-value="30" data-slider-orientation="vertical" class="slider slider-vertical form-control">
                        <br>
                        <br>
                        <input type="text" value="" data-slider-min="5" data-slider-max="20" data-slider-step="1" data-slider-value="10" data-slider-orientation="horizontal" class="slider slider-horizontal form-control">
                        <br>
                        <br>
                        <input id="sl2" type="text" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,750]" class="slider form-control">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Switch</label>
                    <div class="col-sm-10">
                        <label class="switch">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Chosen</label>
                    <div class="col-sm-10">
                        <select class="chosen-select input-md">
                            <optgroup label="Alaskan/Hawaiian Time Zone">
                                <option value="AK">Alaska</option>
                                <option value="HI">Hawaii</option>
                            </optgroup>
                            <optgroup label="Pacific Time Zone">
                                <option value="CA">California</option>
                                <option value="NV">Nevada</option>
                                <option value="OR">Oregon</option>
                                <option value="WA">Washington</option>
                            </optgroup>
                            <optgroup label="Mountain Time Zone">
                                <option value="AZ">Arizona</option>
                                <option value="CO">Colorado</option>
                                <option value="ID">Idaho</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NM">New Mexico</option>
                                <option value="ND">North Dakota</option>
                                <option value="UT">Utah</option>
                                <option value="WY">Wyoming</option>
                            </optgroup>
                            <optgroup label="Central Time Zone">
                                <option value="AL">Alabama</option>
                                <option value="AR">Arkansas</option>
                                <option value="IL">Illinois</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="OK">Oklahoma</option>
                                <option value="SD">South Dakota</option>
                                <option value="TX">Texas</option>
                                <option value="TN">Tennessee</option>
                                <option value="WI">Wisconsin</option>
                            </optgroup>
                            <optgroup label="Eastern Time Zone">
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="IN">Indiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="OH">Ohio</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WV">West Virginia</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Chosen multiple</label>
                    <div class="col-sm-10">
                        <select multiple="" class="chosen-select input-md">
                            <option value="AK">Alaska</option>
                            <option value="HI">Hawaii</option>
                            <option value="CA">California</option>
                            <option value="NV">Nevada</option>
                            <option value="OR">Oregon</option>
                            <option value="WA">Washington</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Datepicker</label>
                    <div class="col-sm-4">
                        <!--input.datepicker.form-control(size='16', type='text', value='12-02-2013', data-date-format='dd-mm-yyyy')-->
                        <div class="datetimepicker input-group date mb-lg">
                            <input type="text" class="form-control">
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                        <div data-pick-date="false" class="datetimepicker input-group date mb-lg">
                            <input type="text" class="form-control">
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                        <div data-pick-time="false" class="datetimepicker input-group date mb-lg">
                            <input type="text" class="form-control">
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Masked input</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" data-toggle="masked" data-inputmask="'mask': '999-99-999-9999-9'" placeholder="ISBN" class="form-control">
                                <span class="help-block">data-inputmask="'mask': '999-99-999-9999-9"'</span>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" data-toggle="masked" data-inputmask="'mask': '99/99/9999'" placeholder="Date" class="form-control">
                                <span class="help-block">data-inputmask="'mask': '99/99/9999"'</span>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" data-toggle="masked" data-inputmask="'mask': '(999) 999-9999'" placeholder="Phone number" class="form-control">
                                <span class="help-block">data-inputmask="'mask': '(999) 999-9999"'</span>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" data-toggle="masked" data-inputmask="'mask': 'aaaa-9999-aa99-9999'" placeholder="Custom Key" class="form-control">
                                <span class="help-block">data-inputmask="'mask': 'aaaa-9999-aa99-9999"'</span>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" data-toggle="masked" data-inputmask="'mask': '$ 999.999.999,99'" placeholder="Currency Dolar" class="form-control">
                                <span class="help-block">data-inputmask="'mask': '$ 999.999.999,99"'</span>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" data-toggle="masked" data-inputmask="'mask': '€ 999.999.999,99'" placeholder="Currency Euro" class="form-control">
                                <span class="help-block">data-inputmask="'mask': '€ 999.999.999,99"'</span>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tags input</label>
                    <div class="col-sm-4">
                        <input type="text" data-role="tagsinput" value="Amsterdam,Washington,Sydney,Beijing,Cairo" class="form-control">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">File input</label>
                    <div class="col-sm-4">
                        <input type="file" data-classbutton="btn btn-default" data-classinput="form-control inline" class="filestyle form-control">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Markdown area
                        <br>
                        <small>(live preview editor)</small>
                    </label>
                    <div class="col-sm-10">
                        <textarea data-uk-markdownarea="{mode:'tab'}"># Type here</textarea>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Drag and Drop
                        <br>
                        <small>This demo version doesn't store files on the server. Works only on Latest Chrome, Firefox, Safari, Opera &amp; IE +10</small>
                    </label>
                    <div class="col-sm-10">
                        <div id="upload-drop" class="box-placeholder text-center">
                            <p>
                                <em class="fa fa-cloud-upload fa-2x"></em>
                            </p>Upload files by dropping them here or
                            <div class="btn-link form-file">
                                selecting one
                                <input id="upload-select" type="file" name="upfile">
                            </div>
                        </div>
                        <div id="progressbar" class="progress hidden">
                            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="progress-bar"></div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button type="submit" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

@section scripts{
    @Styles.Render("~/Content/codemirror")
    @Styles.Render("~/Content/boostraptag")
    @Scripts.Render("~/Content/codemirrow")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/datetimepicker")
}