﻿<h3>
    Form Validation
    <br>
    <small>Validating forms frontend have never been so powerful and easy.</small>
</h3>
<!-- START row-->
<div class="row">
    <div class="col-lg-6">
        @Html.Partial("_Validation1")
    </div>
    <div class="col-lg-6">
        @Html.Partial("_Validation2")
    </div>
</div>
<!-- END row-->
<!-- START row-->
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_Validation3")
    </div>
</div>