﻿<h3>
    Form Wizards
    <br>
    <small></small>
</h3>
<div class="row">
    <div class="col-lg-6">
       @Html.Partial("_Wizard1")
    </div>
    <div class="col-lg-6">
        @Html.Partial("_Wizard2")
    </div>
</div>


@Html.Partial("_Wizard3")

@Html.Partial("_Wizard4")

@section Scripts
{
    @Scripts.Render("~/bundles/bwizard")
    @Scripts.Render("~/bundles/parseley")
}