﻿<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">Activity feed</div>
    </div>
    <!-- START list group-->
    <div class="list-group">
        <!-- START list group item-->
        <div class="list-group-item">
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-lg">
                        <em class="fa fa-circle fa-stack-2x text-green"></em>
                        <em class="fa fa-cloud-upload fa-stack-1x fa-inverse text-white"></em>
                    </span>
                </div>
                <div class="media-body clearfix">
                    <div class="media-heading text-green m0">NEW UPLOAD</div>
                    <p class="m0">
                        <small>New file <a href="#">entities.xls </a>uploaded to the cloud</small>
                    </p>
                    <small>5 minutes ago</small>
                </div>
            </div>
        </div>
        <!-- END list group item-->
        <!-- START list group item-->
        <div class="list-group-item">
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-lg">
                        <em class="fa fa-circle fa-stack-2x text-info"></em>
                        <em class="fa fa-file-text-o fa-stack-1x fa-inverse text-white"></em>
                    </span>
                </div>
                <div class="media-body clearfix">
                    <div class="media-heading text-info m0">NEW DOCUMENT</div>
                    <p class="m0">
                        <small>New document <a href="#">Lorem ipsum </a>created</small>
                    </p>
                    <small>1 hour ago</small>
                </div>
            </div>
        </div>
        <!-- END list group item-->
        <!-- START list group item-->
        <div class="list-group-item">
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-lg">
                        <em class="fa fa-circle fa-stack-2x text-danger"></em>
                        <em class="fa fa-exclamation fa-stack-1x fa-inverse text-white"></em>
                    </span>
                </div>
                <div class="media-body clearfix">
                    <div class="media-heading text-danger m0">IMPORTANT MESSAGE</div>
                    <p class="m0">
                        <small>
                            Sammy Sam sent you an important messsage. <a href="#">Read now</a>
                        </small>
                    </p>
                    <small>3 hours ago</small>
                </div>
            </div>
        </div>
        <!-- END list group item-->
        <!-- START list group item-->
        <div class="list-group-item">
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-lg">
                        <em class="fa fa-circle fa-stack-2x text-warning"></em>
                        <em class="fa fa-clock-o fa-stack-1x fa-inverse text-white"></em>
                    </span>
                </div>
                <div class="media-body clearfix">
                    <div class="media-heading text-warning m0">MEETING</div>
                    <p class="m0">
                        <small>
                            Rich Reynods added a new meeting. <a href="#" class="label label-info">JOIN</a>
                        </small>
                    </p>
                    <small>yesterday</small>
                </div>
            </div>
        </div>
        <!-- END list group item-->
    </div>
    <!-- END list group-->
    <!-- START panel footer-->
    <div class="panel-footer clearfix">
        <a href="#" class="pull-left">
            <small>Load more</small>
        </a>
    </div>
    <!-- END panel-footer-->
</div>
