﻿<div class="panel widget">
    <div class="panel-body bg-primary">
        <div class="h5 mt0">Received all time</div>
        <!-- Line chart-->
        <div data-type="line" data-height="80" data-width="100%" data-line-width="2" data-line-color="#dddddd" data-spot-color="#bbbbbb" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="3" data-resize="true"
             class="inlinesparkline sparkline">
            <!-- 1,3,4,7,5,9,4,4,7,5,9,6,4-->
        </div>
        <!-- Bar chart-->
        <div class="text-center">
            <div data-bar-color="#fff" data-height="50" data-bar-width="6" data-bar-spacing="6" class="inlinesparkline inline">1,3,4,7,5,9,4,4,7,5,9,6,4</div>
        </div>
    </div>
    <div class="panel-body bg-inverse">
        <div class="row row-table text-center">
            <div class="col-xs-4">
                <p class="m0 h3">15080</p>
                <p class="m0 text-muted">Shot Views</p>
            </div>
            <div class="col-xs-4">
                <p class="m0 h3">12000</p>
                <p class="m0 text-muted">Likes</p>
            </div>
            <div class="col-xs-4">
                <p class="m0 h3">5100</p>
                <p class="m0 text-muted">Comments</p>
            </div>
        </div>
    </div>
</div>