﻿@model MVCSkeleton.Web.Models.StartWidgetModel
    
<div class="panel widget">
    <div class="panel-body">
        <div class="text-right text-muted">
            <em class="fa @Model.Icon fa-2x"></em>
        </div>
        <h3 class="mt0">@Model.MainText</h3>
        <p class="text-muted">@Model.MutedText</p>
        <div class="progress progress-striped progress-xs">
            <div role="progressbar" aria-valuenow="@Model.Progress" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-success progress-80">
                <span class="sr-only">@Model.Progress% Complete</span>
            </div>
        </div>
    </div>
</div>