﻿@model MVCSkeleton.Web.Models.StatWidgetModel

<div data-toggle="play-animation" data-play="fadeInDown" data-offset="0" data-delay="100" class="panel widget">
    <div class="panel-body bg-@Model.Color">
        <div class="row row-table row-flush">
            <div class="col-xs-8">
                <p class="mb0">@Model.Header</p>
                <h3 class="m0">@Model.SubHeader</h3>
            </div>
            <div class="col-xs-4 text-center">
                <em class="fa @Model.Icon fa-2x">
                </em>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <!-- Bar chart-->
        <div class="text-center">
            <div data-bar-color="@Model.Color" data-height="30" data-bar-width="6" data-bar-spacing="6" class="inlinesparkline inline">@Model.Data</div>
        </div>
    </div>
</div>