﻿<div class="panel widget">
    <div class="panel-body bg-warning text-center">
        <div class="text-lg m0">18&deg;</div>
        <p>Paris</p>
        <div class="mb-lg"></div>
        <em class="fa fa-sun-o fa-2x"></em>
    </div>
</div>
