﻿<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right label label-info">33</div>
        <div class="panel-title">Unread Messages</div>
    </div>
    <!-- START list group-->
    <div class="list-group">
        <!-- START list group item-->
        <a href="#" class="list-group-item">
            <div class="media">
                <div class="pull-left">
                    <img src="/assets/app/img/user/01.jpg" alt="Image" class="media-object img-circle thumb48">
                </div>
                <div class="media-body clearfix">
                    <small class="pull-right">2h</small>
                    <strong class="media-heading text-primary">
                        <span class="point point-success point-lg text-left"></span>Sheila Carter
                    </strong>
                    <p class="mb-sm">
                        <small>Cras sit amet nibh libero, in gravida nulla. Nulla...</small>
                    </p>
                </div>
            </div>
        </a>
        <!-- END list group item-->
        <!-- START list group item-->
        <a href="#" class="list-group-item">
            <div class="media">
                <div class="pull-left">
                    <img src="/assets/app/img/user/04.jpg" alt="Image" class="media-object img-circle thumb48">
                </div>
                <div class="media-body clearfix">
                    <small class="pull-right">3h</small>
                    <strong class="media-heading text-primary">
                        <span class="point point-success point-lg text-left"></span>Rich Reynolds
                    </strong>
                    <p class="mb-sm">
                        <small>Cras sit amet nibh libero, in gravida nulla. Nulla...</small>
                    </p>
                </div>
            </div>
        </a>
        <!-- END list group item-->
        <!-- START list group item-->
        <a href="#" class="list-group-item">
            <div class="media">
                <div class="pull-left">
                    <img src="/assets/app/img/user/03.jpg" alt="Image" class="media-object img-circle thumb48">
                </div>
                <div class="media-body clearfix">
                    <small class="pull-right">4h</small>
                    <strong class="media-heading text-primary">
                        <span class="point point-danger point-lg text-left"></span>Beverley Pierce
                    </strong>
                    <p class="mb-sm">
                        <small>Cras sit amet nibh libero, in gravida nulla. Nulla...</small>
                    </p>
                </div>
            </div>
        </a>
        <!-- END list group item-->
        <!-- START list group item-->
        <a href="#" class="list-group-item">
            <div class="media">
                <div class="pull-left">
                    <img src="/assets/app/img/user/06.jpg" alt="Image" class="media-object img-circle thumb48">
                </div>
                <div class="media-body clearfix">
                    <small class="pull-right">4h</small>
                    <strong class="media-heading text-primary">
                        <span class="point point-danger point-lg text-left"></span>Alex Somar
                    </strong>
                    <p class="mb-sm">
                        <small>Vestibulum pretium aliquam scelerisque.</small>
                    </p>
                </div>
            </div>
        </a>
        <!-- END list group item-->
    </div>
    <!-- END list group-->
    <!-- START panel footer-->
    <div class="panel-footer clearfix">
        <a href="#" class="pull-left">
            <small>Read All</small>
        </a>
        <a href="#" class="pull-right">
            <small>Dismiss All</small>
        </a>
    </div>
    <!-- END panel-footer-->
</div>