﻿@using MVCSkeleton.Web.Models
@{
    Layout = "~/Views/Shared/_LayoutSlideBar.cshtml";
}

<button type="button" class="btn btn-primary pull-right">
    <em class="fa fa-plus-circle fa-fw mr-sm"></em>Add Item
</button>
<h3>
    Dashboard
    <br>
    <small>Welcome user</small>
</h3>

<div data-toggle="notify" data-onload data-message="&lt;b&gt;Welcome Visitor!&lt;/b&gt; Dismiss this message with a click or wait for it to disappear." data-options="{&quot;status&quot;:&quot;danger&quot;, &quot;pos&quot;:&quot;top-right&quot;}"
     class="hidden-xs"></div>

<div class="row">
    <!-- START dashboard main content-->
    <section class="col-md-9">
        <!-- START Secondary Widgets-->
        <div class="row">
            <div class="col-md-4">
                <!-- START widget-->
                @{
                    Html.RenderPartial("_StartWidget", new StartWidgetModel()
            {
                Progress = decimal.Parse("80"),
                MainText = "20",
                MutedText = "New followers added this month",
                Icon = "fa-users"
            });
                }
            </div>
            <div class="col-md-4">
                <!-- START widget-->
                @{
                    Html.RenderPartial("_StartWidget", new StartWidgetModel()
                    {
                        Progress = decimal.Parse("40"),
                        MainText = "$ 1250",
                        MutedText = "Average Monthly Income",
                        Icon = "fa-bar-chart-o"
                    });
                }
                <!-- END widget-->
            </div>
            <div class="col-md-4">
                <!-- START widget-->
                @{
                    Html.RenderPartial("_StartWidget", new StartWidgetModel()
                    {
                        Progress = decimal.Parse("60"),
                        MainText = "$ 13865",
                        MutedText = "Yearly Income Goal",
                        Icon = "fa-trophy"
                    });
                }
            </div>
            <!-- END widget-->
        </div>
        <!-- START chart-->
        <div class="row">
            <div class="col-lg-12">
                @Html.Partial("_Chart")
            </div>
        </div>
        <!-- END chart-->
        <!-- START messages and activity-->
        <div class="row">
            <div class="col-md-6">
                @Html.Partial("_UnreadMessage")
            </div>
            <div class="col-md-6">
                @Html.Partial("_ActiveFeed")
            </div>
        </div>
        <!-- END messages and activity-->
    </section>
    <!-- START dashboard sidebar-->
    <aside class="col-md-3">
        @Html.Partial("_TempWidget")
        @{
            Html.RenderPartial("_StatWidget", new StatWidgetModel()
            {
                Color = "primary",
                Icon = "fa-user",
                Header = "New Visitor",
                SubHeader = "1.5k",
                Data = "10,30,40,70,50,90,70,50,90,40,40,60,40"
            });
        }
        @{
            Html.RenderPartial("_StatWidget", new StatWidgetModel()
            {
                Color = "purple",
                Icon = "fa-user",
                Header = "Bounce Rate",
                SubHeader = "50%",
                Data = "10,30,40,70,50,90,70,50,90,40,40,60,40"
            });
        }
        @{
            Html.RenderPartial("_StatWidget", new StatWidgetModel()
            {
                Color = "danger",
                Icon = "fa-search",
                Header = "Searchs",
                SubHeader = "28%",
                Data = "2,7,5,9,4,2,7,5,7,5,9,6,4"
            });
        }
        @{
            Html.RenderPartial("_StatWidget", new StatWidgetModel()
            {
                Color = "success",
                Icon = "fa-search",
                Header = "Traffic",
                SubHeader = "140.5 kb",
                Data = "4,7,5,9,6,4,8,6,3,4,7,5,9"
            });
        }
    </aside>
</div>
