﻿@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="row row-table page-wrapper">
    <div class="col-lg-3 col-md-6 col-sm-8 col-xs-12 align-middle">
        <div data-toggle="play-animation" data-play="fadeIn" data-offset="0" class="panel panel-dark b0">
            <div class="panel-heading text-center p-lg">
                <a href="#">
                    <img src="../../assets/app/img/logo.png" alt="Image" class="block-center img-rounded">
                </a>
            </div>
            <div id="accordion" data-toggle="collapse-autoactive" class="panel-group">
                <!-- START panel-->
                <div class="panel radius-clear b0 shadow-clear">
                    <div class="panel-heading radius-clear panel-heading-active">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="text-muted btn-block text-center">SIGN IN TO CONTINUE.</a>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <form role="form" class="mb-lg">
                                <div class="form-group has-feedback">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input id="exampleInputEmail1" type="email" placeholder="Enter email" class="form-control">
                                    <span class="fa fa-envelope form-control-feedback text-muted"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input id="exampleInputPassword1" type="password" placeholder="Password" class="form-control">
                                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                                </div>
                                <div class="clearfix">
                                    <div class="checkbox c-checkbox pull-left mt0">
                                        <label>
                                            <input type="checkbox" value="">
                                            <span class="fa fa-check"></span>Remember Me
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-block btn-success">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel-->
                <!-- START panel-->
                <div class="panel radius-clear b0 shadow-clear">
                    <div class="panel-heading radius-clear">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="text-muted btn-block text-center">Need to Signup?</a>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form role="form" class="mb-lg">
                                <div class="form-group has-feedback">
                                    <label for="signupInputEmail1">Email address</label>
                                    <input id="signupInputEmail1" type="email" placeholder="Enter email" class="form-control">
                                    <span class="fa fa-envelope form-control-feedback text-muted"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    <label for="signupInputPassword1">Password</label>
                                    <input id="signupInputPassword1" type="password" placeholder="Password" class="form-control">
                                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    <label for="signupInputRePassword1">ReType Password</label>
                                    <input id="signupInputRePassword1" type="password" placeholder="ReType Password" class="form-control">
                                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                                </div>
                                <div class="clearfix">
                                    <div class="checkbox c-checkbox pull-left mt0">
                                        <label>
                                            <input type="checkbox" value="">
                                            <span class="fa fa-check"></span>I agree with the <a href="#">terms</a>
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-block btn-success">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel-->
                <!-- START panel-->
                <div class="panel radius-clear b0 shadow-clear">
                    <div class="panel-heading radius-clear">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="text-muted btn-block text-center">Forgot your password?</a>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form role="form">
                                <p class="text-center">Fill with your mail to receive instructions on how to reset your password.</p>
                                <div class="form-group has-feedback">
                                    <label for="resetInputEmail1">Email address</label>
                                    <input id="resetInputEmail1" type="email" placeholder="Enter email" class="form-control">
                                    <span class="fa fa-envelope form-control-feedback text-muted"></span>
                                </div>
                                <button type="submit" class="btn btn-danger btn-block">Reset</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END panel-->
            </div>
        </div>
    </div>
</div>

