﻿<h3>Files box</h3>
<div class="row">
    <div class="col-lg-2 col-md-3 col-md-12">
        <ul class="nav nav-pills nav-stacked">
            <li class="p">
                <small class="text-muted">Categories</small>
            </li>
            <li class="active">
                <a href="#" data-filter-tag="all">
                    <span class="label label-primary pull-right">33</span>
                    <em class="fa fa-folder-o fa-fw fa-lg"></em>
                    <span>All</span>
                </a>
            </li>
            <li>
                <a href="#" data-filter-tag="audio">
                    <span class="label label-primary pull-right">12</span>
                    <em class="fa fa-folder-o fa-fw fa-lg"></em>
                    <span>Audio</span>
                </a>
            </li>
            <li>
                <a href="#" data-filter-tag="movie">
                    <span class="label label-danger pull-right">3</span>
                    <em class="fa fa-folder-o fa-fw fa-lg"></em>
                    <span>Movies</span>
                </a>
            </li>
            <li>
                <a href="#" data-filter-tag="image">
                    <span class="label label-warning pull-right">8</span>
                    <em class="fa fa-folder-o fa-fw fa-lg"></em>
                    <span>Images</span>
                </a>
            </li>
            <li>
                <a href="#" data-filter-tag="archive">
                    <span class="label label-success pull-right">4</span>
                    <em class="fa fa-folder-o fa-fw fa-lg"></em>
                    <span>Archives</span>
                </a>
            </li>
            <li>
                <a href="#" data-filter-tag="code">
                    <span class="label label-purple pull-right">6</span>
                    <em class="fa fa-folder-o fa-fw fa-lg"></em>
                    <span>Codes</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-lg-10 col-md-9 col-sm-12">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div data-filter-group="audio" class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-left">
                                <a href="#" title="Play" class="label label-primary mr-sm">
                                    <em class="fa fa-play fa-fw"></em>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="#" title="Download" class="label label-success mr-sm">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                                <a href="#" title="Remove" class="label label-danger">
                                    <em class="fa fa-times fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <div class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-audio-o text-primary"></em>
                        </div>
                        <h4 class="text-dark text-ellipsis">Electus - Cosmology.ogg</h4>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">6.3MB</small>
                            <small class="pull-left">10m</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div data-filter-group="movie" class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-left">
                                <a href="#" title="Play" class="label label-primary mr-sm">
                                    <em class="fa fa-play fa-fw"></em>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="#" title="Download" class="label label-success mr-sm">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                                <a href="#" title="Remove" class="label label-danger">
                                    <em class="fa fa-times fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <div class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-movie-o text-danger"></em>
                        </div>
                        <h4 class="text-dark text-ellipsis">LOTR-III.avi</h4>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">6.3GB</small>
                            <small class="pull-left">50m</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div data-filter-group="audio" class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-left">
                                <a href="#" title="Play" class="label label-primary mr-sm">
                                    <em class="fa fa-play fa-fw"></em>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="#" title="Download" class="label label-success mr-sm">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                                <a href="#" title="Remove" class="label label-danger">
                                    <em class="fa fa-times fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <div class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-audio-o text-primary"></em>
                        </div>
                        <h4 class="text-dark text-ellipsis">Cytran - Phenakism.mp3</h4>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">12MB</small>
                            <small class="pull-left">20h</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div data-filter-group="image" class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-left">
                                <a href="#" title="View" class="label label-primary mr-sm">
                                    <em class="fa fa-eye fa-fw"></em>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="#" title="Download" class="label label-success mr-sm">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                                <a href="#" title="Remove" class="label label-danger">
                                    <em class="fa fa-times fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <div class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-image-o text-success"></em>
                        </div>
                        <h4 class="text-dark text-ellipsis">Mountain-Lion.jpg</h4>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">300KB</small>
                            <small class="pull-left">1d</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div data-filter-group="archive" class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-left">
                                <a href="#" title="Edit" class="label label-primary mr-sm">
                                    <em class="fa fa-pencil fa-fw"></em>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="#" title="Download" class="label label-success mr-sm">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                                <a href="#" title="Remove" class="label label-danger">
                                    <em class="fa fa-times fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <div class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-archive-o text-warning"></em>
                        </div>
                        <h4 class="text-dark text-ellipsis">Results.txt</h4>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">1MB</small>
                            <small class="pull-left">15h</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div data-filter-group="audio" class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-left">
                                <a href="#" title="Play" class="label label-primary mr-sm">
                                    <em class="fa fa-play fa-fw"></em>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="#" title="Download" class="label label-success mr-sm">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                                <a href="#" title="Remove" class="label label-danger">
                                    <em class="fa fa-times fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <div class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-audio-o text-primary"></em>
                        </div>
                        <h4 class="text-dark text-ellipsis">MTNS - Lost Track of Time.ogg</h4>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">4.5MB</small>
                            <small class="pull-left">5m</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div data-filter-group="code" class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-left">
                                <a href="#" title="Edit" class="label label-primary mr-sm">
                                    <em class="fa fa-pencil fa-fw"></em>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="#" title="Download" class="label label-success mr-sm">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                                <a href="#" title="Remove" class="label label-danger">
                                    <em class="fa fa-times fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <div class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-code-o text-purple"></em>
                        </div>
                        <h4 class="text-dark text-ellipsis">bypass.c</h4>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">3KB</small>
                            <small class="pull-left">2h</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div data-filter-group="image" class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-left">
                                <a href="#" title="View" class="label label-primary mr-sm">
                                    <em class="fa fa-eye fa-fw"></em>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="#" title="Download" class="label label-success mr-sm">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                                <a href="#" title="Remove" class="label label-danger">
                                    <em class="fa fa-times fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <div class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-image-o text-success"></em>
                        </div>
                        <h4 class="text-dark text-ellipsis">Sunset_red.png</h4>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">450KB</small>
                            <small class="pull-left">3d</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div data-filter-group="image" class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-left">
                                <a href="#" title="View" class="label label-primary mr-sm">
                                    <em class="fa fa-eye fa-fw"></em>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="#" title="Download" class="label label-success mr-sm">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                                <a href="#" title="Remove" class="label label-danger">
                                    <em class="fa fa-times fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <div class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-image-o text-success"></em>
                        </div>
                        <h4 class="text-dark text-ellipsis">Sunset_red.png</h4>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">450KB</small>
                            <small class="pull-left">3d</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div data-filter-group="code" class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-left">
                                <a href="#" title="Edit" class="label label-primary mr-sm">
                                    <em class="fa fa-pencil fa-fw"></em>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="#" title="Download" class="label label-success mr-sm">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                                <a href="#" title="Remove" class="label label-danger">
                                    <em class="fa fa-times fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <div class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-code-o text-purple"></em>
                        </div>
                        <h4 class="text-dark text-ellipsis">transclusion.js</h4>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">5KB</small>
                            <small class="pull-left">23h</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div data-filter-group="audio" class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-left">
                                <a href="#" title="Play" class="label label-primary mr-sm">
                                    <em class="fa fa-play fa-fw"></em>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="#" title="Download" class="label label-success mr-sm">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                                <a href="#" title="Remove" class="label label-danger">
                                    <em class="fa fa-times fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <div class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-audio-o text-primary"></em>
                        </div>
                        <h4 class="text-dark text-ellipsis">MTNS - Lost Track of Time.ogg</h4>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">4.5MB</small>
                            <small class="pull-left">5m</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div data-filter-group="audio" class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-left">
                                <a href="#" title="Play" class="label label-primary mr-sm">
                                    <em class="fa fa-play fa-fw"></em>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="#" title="Download" class="label label-success mr-sm">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                                <a href="#" title="Remove" class="label label-danger">
                                    <em class="fa fa-times fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <div class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-audio-o text-primary"></em>
                        </div>
                        <h4 class="text-dark text-ellipsis">Cytran - Phenakism.mp3</h4>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">12MB</small>
                            <small class="pull-left">20h</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div data-filter-group="audio" class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-left">
                                <a href="#" title="Play" class="label label-primary mr-sm">
                                    <em class="fa fa-play fa-fw"></em>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="#" title="Download" class="label label-success mr-sm">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                                <a href="#" title="Remove" class="label label-danger">
                                    <em class="fa fa-times fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <div class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-audio-o text-primary"></em>
                        </div>
                        <h4 class="text-dark text-ellipsis">MTNS - Lost Track of Time.ogg</h4>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">4.5MB</small>
                            <small class="pull-left">5m</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div data-filter-group="code" class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-left">
                                <a href="#" title="Edit" class="label label-primary mr-sm">
                                    <em class="fa fa-pencil fa-fw"></em>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="#" title="Download" class="label label-success mr-sm">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                                <a href="#" title="Remove" class="label label-danger">
                                    <em class="fa fa-times fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <div class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-code-o text-purple"></em>
                        </div>
                        <h4 class="text-dark text-ellipsis">components.css</h4>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">78KB</small>
                            <small class="pull-left">12h</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div data-filter-group="image" class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-left">
                                <a href="#" title="View" class="label label-primary mr-sm">
                                    <em class="fa fa-eye fa-fw"></em>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="#" title="Download" class="label label-success mr-sm">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                                <a href="#" title="Remove" class="label label-danger">
                                    <em class="fa fa-times fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <div class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-image-o text-success"></em>
                        </div>
                        <h4 class="text-dark text-ellipsis">Sunset_red.png</h4>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">450KB</small>
                            <small class="pull-left">3d</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div data-filter-group="archive" class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-left">
                                <a href="#" title="Edit" class="label label-primary mr-sm">
                                    <em class="fa fa-pencil fa-fw"></em>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="#" title="Download" class="label label-success mr-sm">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                                <a href="#" title="Remove" class="label label-danger">
                                    <em class="fa fa-times fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <div class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-archive-o text-warning"></em>
                        </div>
                        <h4 class="text-dark text-ellipsis">Results.txt</h4>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">1MB</small>
                            <small class="pull-left">15h</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div data-filter-group="audio" class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-left">
                                <a href="#" title="Play" class="label label-primary mr-sm">
                                    <em class="fa fa-play fa-fw"></em>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="#" title="Download" class="label label-success mr-sm">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                                <a href="#" title="Remove" class="label label-danger">
                                    <em class="fa fa-times fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <div class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-audio-o text-primary"></em>
                        </div>
                        <h4 class="text-dark text-ellipsis">Electus - Cosmology.ogg</h4>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">6.3MB</small>
                            <small class="pull-left">10m</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div data-filter-group="movie" class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-left">
                                <a href="#" title="Play" class="label label-primary mr-sm">
                                    <em class="fa fa-play fa-fw"></em>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="#" title="Download" class="label label-success mr-sm">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                                <a href="#" title="Remove" class="label label-danger">
                                    <em class="fa fa-times fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <div class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-movie-o text-danger"></em>
                        </div>
                        <h4 class="text-dark text-ellipsis">LOTR-III.avi</h4>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">6.3GB</small>
                            <small class="pull-left">50m</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div data-filter-group="audio" class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-left">
                                <a href="#" title="Play" class="label label-primary mr-sm">
                                    <em class="fa fa-play fa-fw"></em>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="#" title="Download" class="label label-success mr-sm">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                                <a href="#" title="Remove" class="label label-danger">
                                    <em class="fa fa-times fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <div class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-audio-o text-primary"></em>
                        </div>
                        <h4 class="text-dark text-ellipsis">Cytran - Phenakism.mp3</h4>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">12MB</small>
                            <small class="pull-left">20h</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div data-filter-group="image" class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-left">
                                <a href="#" title="View" class="label label-primary mr-sm">
                                    <em class="fa fa-eye fa-fw"></em>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="#" title="Download" class="label label-success mr-sm">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                                <a href="#" title="Remove" class="label label-danger">
                                    <em class="fa fa-times fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <div class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-image-o text-success"></em>
                        </div>
                        <h4 class="text-dark text-ellipsis">Mountain-Lion.jpg</h4>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">300KB</small>
                            <small class="pull-left">1d</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div data-filter-group="audio" class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-left">
                                <a href="#" title="Play" class="label label-primary mr-sm">
                                    <em class="fa fa-play fa-fw"></em>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="#" title="Download" class="label label-success mr-sm">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                                <a href="#" title="Remove" class="label label-danger">
                                    <em class="fa fa-times fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <div class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-audio-o text-primary"></em>
                        </div>
                        <h4 class="text-dark text-ellipsis">MTNS - Lost Track of Time.ogg</h4>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">4.5MB</small>
                            <small class="pull-left">5m</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div data-filter-group="code" class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-left">
                                <a href="#" title="Edit" class="label label-primary mr-sm">
                                    <em class="fa fa-pencil fa-fw"></em>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="#" title="Download" class="label label-success mr-sm">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                                <a href="#" title="Remove" class="label label-danger">
                                    <em class="fa fa-times fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <div class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-code-o text-purple"></em>
                        </div>
                        <h4 class="text-dark text-ellipsis">components.css</h4>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">78KB</small>
                            <small class="pull-left">12h</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div data-filter-group="image" class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-left">
                                <a href="#" title="View" class="label label-primary mr-sm">
                                    <em class="fa fa-eye fa-fw"></em>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="#" title="Download" class="label label-success mr-sm">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                                <a href="#" title="Remove" class="label label-danger">
                                    <em class="fa fa-times fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <div class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-image-o text-success"></em>
                        </div>
                        <h4 class="text-dark text-ellipsis">Sunset_red.png</h4>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">450KB</small>
                            <small class="pull-left">3d</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div data-filter-group="archive" class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-left">
                                <a href="#" title="Edit" class="label label-primary mr-sm">
                                    <em class="fa fa-pencil fa-fw"></em>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="#" title="Download" class="label label-success mr-sm">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                                <a href="#" title="Remove" class="label label-danger">
                                    <em class="fa fa-times fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <div class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-archive-o text-warning"></em>
                        </div>
                        <h4 class="text-dark text-ellipsis">Results.txt</h4>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">1MB</small>
                            <small class="pull-left">15h</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div data-filter-group="image" class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-left">
                                <a href="#" title="View" class="label label-primary mr-sm">
                                    <em class="fa fa-eye fa-fw"></em>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="#" title="Download" class="label label-success mr-sm">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                                <a href="#" title="Remove" class="label label-danger">
                                    <em class="fa fa-times fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <div class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-image-o text-success"></em>
                        </div>
                        <h4 class="text-dark text-ellipsis">Sunset_red.png</h4>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">450KB</small>
                            <small class="pull-left">3d</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div data-filter-group="code" class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-left">
                                <a href="#" title="Edit" class="label label-primary mr-sm">
                                    <em class="fa fa-pencil fa-fw"></em>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="#" title="Download" class="label label-success mr-sm">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                                <a href="#" title="Remove" class="label label-danger">
                                    <em class="fa fa-times fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <div class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-code-o text-purple"></em>
                        </div>
                        <h4 class="text-dark text-ellipsis">transclusion.js</h4>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">5KB</small>
                            <small class="pull-left">23h</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div data-filter-group="audio" class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-left">
                                <a href="#" title="Play" class="label label-primary mr-sm">
                                    <em class="fa fa-play fa-fw"></em>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="#" title="Download" class="label label-success mr-sm">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                                <a href="#" title="Remove" class="label label-danger">
                                    <em class="fa fa-times fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <div class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-audio-o text-primary"></em>
                        </div>
                        <h4 class="text-dark text-ellipsis">MTNS - Lost Track of Time.ogg</h4>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">4.5MB</small>
                            <small class="pull-left">5m</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div data-filter-group="audio" class="panel discoverer">
                    <div class="panel-body text-center">
                        <div class="clearfix discover">
                            <div class="pull-left">
                                <a href="#" title="Play" class="label label-primary mr-sm">
                                    <em class="fa fa-play fa-fw"></em>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a href="#" title="Download" class="label label-success mr-sm">
                                    <em class="fa fa-download fa-fw"></em>
                                </a>
                                <a href="#" title="Remove" class="label label-danger">
                                    <em class="fa fa-times fa-fw"></em>
                                </a>
                            </div>
                        </div>
                        <div class="file-icon ph-lg">
                            <em class="fa fa-5x fa-file-audio-o text-primary"></em>
                        </div>
                        <h4 class="text-dark text-ellipsis">Cytran - Phenakism.mp3</h4>
                        <div class="clearfix m0 text-muted">
                            <small class="pull-right">12MB</small>
                            <small class="pull-left">20h</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>