﻿<button type="button" class="btn btn-primary pull-right">
    <em class="fa fa-plus-circle fa-fw mr-sm"></em>New Invoice
</button>
<h3>Invoice</h3>
<div class="panel">
    <div class="panel-body">
        <button type="button" class="pull-right btn btn-default btn-sm">Copy this invoice</button>
        <h3 class="mt0">Invoice 00004879</h3>
        <hr>
        <div class="row mb-lg">
            <div class="col-lg-4 col-xs-6 br pv">
                <div class="row">
                    <div class="col-md-2 text-center visible-md visible-lg">
                        <em class="fa fa-plane fa-4x text-muted"></em>
                    </div>
                    <div class="col-md-10">
                        <h4>John Doe</h4>
                        <address></address>Nowhere 1024
                        <br>Happy St., 50487
                        <br>Neverland
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 br pv">
                <div class="row">
                    <div class="col-md-2 text-center visible-md visible-lg">
                        <em class="fa fa-truck fa-4x text-muted"></em>
                    </div>
                    <div class="col-md-10">
                        <h4>Dohn Joe</h4>
                        <address></address>Basilisa 2145
                        <br>Mate, Cliff., 20145
                        <br>Moon
                    </div>
                </div>
            </div>
            <div class="clearfix hidden-md hidden-lg">
                <hr>
            </div>
            <div class="col-lg-4 col-xs-12 pv">
                <div class="clearfix">
                    <p class="pull-left">INVOICE NO.</p>
                    <p class="pull-right mr">00004879</p>
                </div>
                <div class="clearfix">
                    <p class="pull-left">Date</p>
                    <p class="pull-right mr">25/08/2014</p>
                </div>
                <div class="clearfix">
                    <p class="pull-left">Due Date</p>
                    <p class="pull-right mr">30/08/2014</p>
                </div>
            </div>
        </div>
        <div class="table-responsive table-bordered mb-lg">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item #</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th class="text-right">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1001</td>
                        <td>Iphone 5s - 64Gb</td>
                        <td>3</td>
                        <td>$ 200</td>
                        <td class="text-right">$ 600</td>
                    </tr>
                    <tr>
                        <td>2002</td>
                        <td>Iphone 6s - 128Gb</td>
                        <td>5</td>
                        <td>$ 500</td>
                        <td class="text-right">$ 2500</td>
                    </tr>
                    <tr>
                        <td>3010</td>
                        <td>Ipad 11z - 512Gb</td>
                        <td>1</td>
                        <td>$ 650</td>
                        <td class="text-right">$ 650</td>
                    </tr>
                    <tr>
                        <td>3009</td>
                        <td>iMac ProRetina 17</td>
                        <td>6</td>
                        <td>$ 1100</td>
                        <td class="text-right">$ 6600</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-offset-8 col-sm-4 pv">
                <div class="clearfix">
                    <p class="pull-left">Subtotal</p>
                    <p class="pull-right mr">$ 10300</p>
                </div>
                <div class="clearfix">
                    <p class="pull-left">Tax (21%)</p>
                    <p class="pull-right mr">$ 2700</p>
                </div>
                <div class="clearfix">
                    <p class="pull-left h3">GRAND TOTAL</p>
                    <p class="pull-right mr h3">$ 13000</p>
                </div>
            </div>
        </div>
        <hr class="hidden-print">
        <div class="clearfix">
            <button type="button" class="btn btn-info pull-left mr">Edit</button>
            <button type="button" onclick="window.print();" class="btn btn-default pull-left">Print</button>
            <button type="button" class="btn btn-success pull-right">Send Invoice</button>
        </div>
    </div>
</div>