﻿<h3>MailBox</h3>
<ol class="breadcrumb">
    <li>
        <a href="#">Home</a>
    </li>
    <li>
        <a href="#">Mailbox</a>
    </li>
    <li class="active">Inbox</li>
</ol>
<div class="row">
    <div class="col-lg-2 col-md-12">
        <div class="clearfix mb-lg">
            <button type="button" data-toggle="collapse" data-target=".mb-boxes" class="btn btn-sm btn-default hidden-lg pull-right">
                <em class="fa fa-bars fa-fw fa-lg"></em>
            </button>
            <button type="button" class="btn btn-purple">
                <em class="fa fa-pencil"></em>
                <span>Compose</span>
            </button>
        </div>
        <ul class="mb-boxes nav nav-pills nav-stacked">
            <li class="p">
                <small class="text-muted">MAILBOXES</small>
            </li>
            <li class="active">
                <a href="#">
                    <span class="label label-primary pull-right">42</span>
                    <em class="fa fa-inbox fa-fw fa-lg"></em>
                    <span>Inbox</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="label label-success pull-right">10</span>
                    <em class="fa fa-star fa-fw fa-lg"></em>
                    <span>Starred</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="label label-danger pull-right">2</span>
                    <em class="fa fa-paper-plane-o fa-fw fa-lg"></em>
                    <span>Sent</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="label label-warning pull-right">5</span>
                    <em class="fa fa-edit fa-fw fa-lg"></em>
                    <span>Drafts</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="label label-green pull-right">12</span>
                    <em class="fa fa-trash-o fa-fw fa-lg"></em>
                    <span>Trash</span>
                </a>
            </li>
            <li class="p">
                <small class="text-muted">TAGS</small>
            </li>
            <li>
                <a href="#" class="pv-sm">
                    <span class="point point-green"></span>
                    <span>Green</span>
                </a>
            </li>
            <li>
                <a href="#" class="pv-sm">
                    <span class="point point-danger"></span>
                    <span>Red</span>
                </a>
            </li>
            <li>
                <a href="#" class="pv-sm">
                    <span class="point point-purple"></span>
                    <span>Purple</span>
                </a>
            </li>
            <li>
                <a href="#" class="pv-sm">
                    <span class="point point-info"></span>
                    <span>Skyblue</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="clearfix hidden-lg"></div>
    <div class="col-lg-5 col-sm-12">
        <!-- START Mails-->
        <table class="table table-hover mb-mails">
            <tbody>
                <tr class="mb-mail-active">
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="mb-mail-date">10:30pm</div>
                        <img src="/assets/app/img/user/01.jpg" alt="Mail Avatar" class="mb-mail-avatar">
                        <div class="pull-left">
                            <div class="mb-mail-from">Adrian Davis</div>
                            <div class="mb-mail-subject">Vestibulum vel dui vel magna vulputate</div>
                        </div>
                        <div class="mb-mail-preview">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ...</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="mb-mail-date">10:30pm</div>
                        <img src="/assets/app/img/user/02.jpg" alt="Mail Avatar" class="mb-mail-avatar">
                        <div class="pull-left">
                            <div class="mb-mail-from">Abigail Rose</div>
                            <div class="mb-mail-subject">Nulla dictum egestas leo at lobortis.</div>
                        </div>
                        <div class="mb-mail-preview">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ...</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="mb-mail-date">10:30pm</div>
                        <img src="/assets/app/img/user/03.jpg" alt="Mail Avatar" class="mb-mail-avatar">
                        <div class="pull-left">
                            <div class="mb-mail-from">Wallace Thompson</div>
                            <div class="mb-mail-subject">Aliquam erat volutpat.</div>
                        </div>
                        <div class="mb-mail-preview">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ...</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="mb-mail-date">10:30pm</div>
                        <img src="/assets/app/img/user/04.jpg" alt="Mail Avatar" class="mb-mail-avatar">
                        <div class="pull-left">
                            <div class="mb-mail-from">Leo Hamilton</div>
                            <div class="mb-mail-subject">Aliquam erat volutpat.</div>
                        </div>
                        <div class="mb-mail-preview">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ...</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="mb-mail-date">10:30pm</div>
                        <img src="/assets/app/img/user/05.jpg" alt="Mail Avatar" class="mb-mail-avatar">
                        <div class="pull-left">
                            <div class="mb-mail-from">Kirk Larson</div>
                            <div class="mb-mail-subject">Suspendisse faucibus bibendum ipsum, et feugiat</div>
                        </div>
                        <div class="mb-mail-preview">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ...</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="mb-mail-date">10:30pm</div>
                        <img src="/assets/app/img/user/06.jpg" alt="Mail Avatar" class="mb-mail-avatar">
                        <div class="pull-left">
                            <div class="mb-mail-from">Tomothy Lane</div>
                            <div class="mb-mail-subject">Aliquam erat volutpat.</div>
                        </div>
                        <div class="mb-mail-preview">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ...</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="mb-mail-date">10:30pm</div>
                        <img src="/assets/app/img/user/07.jpg" alt="Mail Avatar" class="mb-mail-avatar">
                        <div class="pull-left">
                            <div class="mb-mail-from">Dwight Diaz</div>
                            <div class="mb-mail-subject">Aliquam erat volutpat.</div>
                        </div>
                        <div class="mb-mail-preview">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ...</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="mb-mail-date">10:30pm</div>
                        <img src="/assets/app/img/user/08.jpg" alt="Mail Avatar" class="mb-mail-avatar">
                        <div class="pull-left">
                            <div class="mb-mail-from">Albert Campbell</div>
                            <div class="mb-mail-subject">Suspendisse ullamcorper eros eget</div>
                        </div>
                        <div class="mb-mail-preview">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ...</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="mb-mail-date">10:30pm</div>
                        <img src="/assets/app/img/user/09.jpg" alt="Mail Avatar" class="mb-mail-avatar">
                        <div class="pull-left">
                            <div class="mb-mail-from">Lynn Foster</div>
                            <div class="mb-mail-subject">Suspendisse ullamcorper eros eget</div>
                        </div>
                        <div class="mb-mail-preview">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ...</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="mb-mail-date">10:30pm</div>
                        <img src="/assets/app/img/user/10.jpg" alt="Mail Avatar" class="mb-mail-avatar">
                        <div class="pull-left">
                            <div class="mb-mail-from">Liam Reid</div>
                            <div class="mb-mail-subject">Suspendisse ullamcorper eros eget</div>
                        </div>
                        <div class="mb-mail-preview">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ...</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="mb-mail-date">10:30pm</div>
                        <img src="/assets/app/img/user/11.jpg" alt="Mail Avatar" class="mb-mail-avatar">
                        <div class="pull-left">
                            <div class="mb-mail-from">Robin Ortiz</div>
                            <div class="mb-mail-subject">Nam enim libero, lacinia a tristique a</div>
                        </div>
                        <div class="mb-mail-preview">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ...</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- END Mails-->
    </div>
    <div class="col-md-5 visible-md visible-lg">
        <div class="mb-panel">
            <div class="clearfix mb">
                <div class="btn-group pull-left">
                    <button type="button" class="btn btn-default btn-sm">
                        <em class="fa fa-mail-reply text-gray-dark"></em>
                    </button>
                    <button type="button" class="btn btn-default btn-sm">
                        <em class="fa fa-mail-reply-all text-gray-dark"></em>
                    </button>
                    <button type="button" class="btn btn-default btn-sm">
                        <em class="fa fa-mail-forward text-gray-dark"></em>
                    </button>
                </div>
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-sm">
                        <em class="fa fa-exclamation text-gray-dark"></em>
                    </button>
                    <button type="button" class="btn btn-default btn-sm">
                        <em class="fa fa-times text-gray-dark"></em>
                    </button>
                </div>
            </div>
            <h3>Praesent id leo lectus.</h3>
            <div class="clearfix">
                <p class="pull-left m0">
                    <span class="text-muted mr">From:</span><a href="#">John Doe</a>
                </p>
                <p class="pull-right m0">
                    <span>10:56 pm</span>
                </p>
            </div>
            <hr>
            <p>
                <img src="/assets/app/img/mb-sample.jpg" alt="Mailbox image" class="img-responsive">
            </p>
            <p class="text-md">
                Pellentesque vitae turpis id lorem dictum suscipit vitae sit amet leo. Duis imperdiet, enim vitae euismod mattis, lectus nibh interdum felis, quis eleifend orci orci sed quam. Fusce a egestas turpis. Etiam tellus nulla, dictum in
                pellentesque feugiat, sagittis non lectus.
            </p>
            <hr>
            <form action="/" class="mb-panel-form">
                <textarea placeholder="Click here to reply" class="form-control mb-panel-form-reply"></textarea>
            </form>
        </div>
    </div>
</div>

