﻿<h3>
    Search
    <br>
    <small>Search and filter results</small>
</h3>
<div class="row">
<div class="col-lg-9">
    <div class="form-group mb-xl">
        <input type="text" placeholder="Search products, people, apps, etc." class="form-control mb">
        <div class="clearfix">
            <button type="button" class="pull-left btn btn-default">Search</button>
            <div class="pull-right">
                <label class="checkbox-inline c-checkbox">
                    <input id="inlineCheckbox10" type="checkbox" value="option1">
                    <span class="fa fa-check"></span>Products
                </label>
                <label class="checkbox-inline c-checkbox">
                    <input id="inlineCheckbox20" type="checkbox" value="option2">
                    <span class="fa fa-check"></span>People
                </label>
                <label class="checkbox-inline c-checkbox">
                    <input id="inlineCheckbox30" type="checkbox" value="option3">
                    <span class="fa fa-check"></span>Apps
                </label>
            </div>
        </div>
    </div>
    <!-- START panel-->
    <div class="panel panel-default">
        <div class="panel-heading">
            Search Results
            <a href="#" data-perform="panel-refresh" data-toggle="tooltip" title="Refresh Results" class="pull-right">
                <em class="fa fa-refresh"></em>
            </a>
        </div>
        <!-- START table-responsive-->
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th class="check-all">
                        <div data-toggle="tooltip" data-title="Check All" class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="media">
                            <a href="#" class="pull-left">
                                <img src="/assets/app/img/dummy.png" alt="" class="media-object img-responsive img-rounded thumb64">
                            </a>
                            <div class="media-body">
                                <div class="pull-right btn btn-info btn-sm">View</div>
                                <h4 class="media-heading">Item 1</h4>
                                <p>
                                    <small>Category1, Category2</small>
                                </p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulput...
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="media">
                            <a href="#" class="pull-left">
                                <img src="/assets/app/img/dummy.png" alt="" class="media-object img-responsive img-rounded thumb64">
                            </a>
                            <div class="media-body">
                                <div class="pull-right btn btn-info btn-sm">View</div>
                                <h4 class="media-heading">Item 2</h4>
                                <p>
                                    <small>Category1, Category2</small>
                                </p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulput...
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="media">
                            <a href="#" class="pull-left">
                                <img src="/assets/app/img/dummy.png" alt="" class="media-object img-responsive img-rounded thumb64">
                            </a>
                            <div class="media-body">
                                <div class="pull-right btn btn-info btn-sm">View</div>
                                <h4 class="media-heading">Item 3</h4>
                                <p>
                                    <small>Category1, Category2</small>
                                </p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulput...
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="media">
                            <a href="#" class="pull-left">
                                <img src="/assets/app/img/dummy.png" alt="" class="media-object img-responsive img-rounded thumb64">
                            </a>
                            <div class="media-body">
                                <div class="pull-right btn btn-info btn-sm">View</div>
                                <h4 class="media-heading">Item 4</h4>
                                <p>
                                    <small>Category1, Category2</small>
                                </p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulput...
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="media">
                            <a href="#" class="pull-left">
                                <img src="/assets/app/img/dummy.png" alt="" class="media-object img-responsive img-rounded thumb64">
                            </a>
                            <div class="media-body">
                                <div class="pull-right btn btn-info btn-sm">View</div>
                                <h4 class="media-heading">Item 5</h4>
                                <p>
                                    <small>Category1, Category2</small>
                                </p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulput...
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- END table-responsive-->
        <div class="panel-footer">
            <div class="row">
                <div class="col-lg-2">
                    <button class="btn btn-sm btn-default">Clear</button>
                </div>
                <div class="col-lg-8"></div>
                <div class="col-lg-2 text-right">
                    <ul class="pagination pagination-sm">
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">»</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END panel-->
</div>
<div class="col-lg-3">
    <h3 class="m0 pb-lg">Filters</h3>
    <div class="form-group mb-xl">
        <label class="control-label mb">by Text</label>
        <br>
        <select class="chosen-select form-control">
            <optgroup label="Alaskan/Hawaiian Time Zone">
                <option value="AK">Alaska</option>
                <option value="HI">Hawaii</option>
            </optgroup>
            <optgroup label="Pacific Time Zone">
                <option value="CA">California</option>
                <option value="NV">Nevada</option>
                <option value="OR">Oregon</option>
                <option value="WA">Washington</option>
            </optgroup>
            <optgroup label="Mountain Time Zone">
                <option value="AZ">Arizona</option>
                <option value="CO">Colorado</option>
                <option value="ID">Idaho</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NM">New Mexico</option>
                <option value="ND">North Dakota</option>
                <option value="UT">Utah</option>
                <option value="WY">Wyoming</option>
            </optgroup>
            <optgroup label="Central Time Zone">
                <option value="AL">Alabama</option>
                <option value="AR">Arkansas</option>
                <option value="IL">Illinois</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="OK">Oklahoma</option>
                <option value="SD">South Dakota</option>
                <option value="TX">Texas</option>
                <option value="TN">Tennessee</option>
                <option value="WI">Wisconsin</option>
            </optgroup>
            <optgroup label="Eastern Time Zone">
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="IN">Indiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="OH">Ohio</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WV">West Virginia</option>
            </optgroup>
        </select>
    </div>
    <div class="form-group mb-xl">
        <label class="control-label mb">by Date</label>
        <br>
        <div class="datetimepicker input-group date">
            <input type="text" class="form-control">
            <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </span>
        </div>
    </div>
    <div class="form-group mb-xl">
        <label class="control-label mb">by Range</label>
        <br>
        <input id="sl2" type="text" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,750]" class="slider slider-lg form-control">
    </div>
    <button class="btn btn-default btn-lg">Apply</button>
</div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/datetimepicker")
}