﻿<h2>Charts</h2>

<div class="row">
    <div class="col-md-6">
        <img src="@Url.Action("BarChart")"/>
    </div>
    <div class="col-md-6">
        <img src="@Url.Action("PieChart")" />
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <img src="@Url.Action("LineChart")" />
    </div>
    <div class="col-md-6">
        <img src="@Url.Action("StackedBarChart")" />
    </div>
</div>

